<!DOCTYPE html>
<!-- para empezar a trabajar con thymeleaf siempre es necesaria la etiqueta "xmlns" -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{master}">

    <head>
    </head>

    <body layout:fragment="content">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Usuarios Registrados</h1>
            </div>
             <div class="row">
                 <div class="col-lg-12">
                     <div class="card mb-4">
                         <div class="card-header">
                            Por favor edite los campos.
                         </div>
                         <div class="card-body">
                             <form action="/admin/edituserpost" method="post">
                               <div class="form-group row">
                                   <div class="col-sm-6 mb-3 mb-sm-0">
                                       <!--Este select va acompañado del controlador que nos ayuda a traer mediante el repositorio y el service los documentos que tenemos guardados en la BD
                                       tener en cuenta la estructura y traer siempre tanto la llave como el valor-->
                                       <input th:value="${user.id}" type="hidden" name="id">
                                       <select required name="tipoDocumento" class="form-control form-control" >
                                           <--<!-- <option value="">tipo de documento</option>comment -->
                                           <option th:each="doc: ${misdocumentos}" th:value="${doc.id}" th:text="${doc.nombre}"></option>
                                       </select>
                                   </div>
                                   <div class="col-sm-6">
                                       <input readonly th:value="${user.numDocumento}" name="numDocumento" type="text" class="form-control"
                                           placeholder="Numero de documento">
                                   </div>
                               </div>
                               <div class="form-group row">
                                   <div class="col-sm-6 mb-3 mb-sm-0">
                                       <input required th:value="${user.nombres}" name="nombres" type="text" class="form-control"
                                           placeholder="Nombres">
                                   </div>
                                   <div class="col-sm-6">
                                       <input required th:value="${user.apellidos}" name="apellidos" type="text" class="form-control"
                                           placeholder="Apellidos">
                                   </div>
                               </div>
                               <div class="form-group">
                                   <input readonly th:value="${user.email}" name="email" type="email" class="form-control"
                                       placeholder="Correo Electronico">
                               </div>
                               <button type="submit" class="btn btn-primary btn-user btn-block">
                                   Editar Usuario
                               </button>
                             </form>
                         </div>
                     </div>
                 </div>
            </div>
        </div>
    </body>

</html>